.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px  solid var(--border-color);
}

.main-header {
    display: flex;
    align-items: center;
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
        color: var(--akcent-color);
    }
}

.header-list {
    display: flex;
    margin-left: 93px;
    
}

.header-list-contacts {
    display: flex;
    margin-left: auto;    
}

.header-item {
    &:not(:last-child){
        margin-right: 30px;
    }
}

.header-item-contacts {
    &:not(:last-child) {
        margin-right: 50px;
    }
}


.header-navigation {
    .current {
        color: var(--akcent-color);
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: var(--akcent-color);
            border-radius: 2px;
            bottom: -1px;
            display: block;
        }
    }
}

.contact-icon {
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone {
    width: 10px;
    height: 16px;
}

.header-link-contacts {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
        color: var(--akcent-color);
    }
}

